html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center;     /* centro vertical */
  background: #000;
}

canvas {
  display: block;
}